



main{
  
  background-color: rgb(117, 187, 216);
}




h1  {
font-size: 30px;
  
}

nav{
  font-size:30px;
}

nav li{
  display:inline;
  margin:0 0 0 30%;
  color :blue
 }
  

/*h2 {
    color: blue;
    text-align:center;

}*

/*#FUTEBOL{
 color: blue;
}*/



    
   

