body{
  background: linear-gradient(to bottom, rgb(67, 238, 0), rgb(56, 240, 0));
}

h1  {


    color :blue
    text-aling: center;

}

h2 {
    color: blue;
    text-align:center;

}

#FUTEBOL{
 color: blue;
}
